/*********** Backgrounds ***********/
body.background-no-white,
nav
{
	background-color: #F7FFF7;
}


/************ Fonts ***********/

body p,
body a,
footer {
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	font-size: 20px;
}

.header-container-home h1,
.header-container-about h1,
.header-container-ebook h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 72px;
}

.header-container-home h2, 
.header-container-about h2,
.myths-container h2,
.eva-container,
.form-container {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 42px;	
}

.middle-container h3,
.myths-container h3,
.eva-container h3 {
	font-family: 'Merriweather', serif;
	margin: 0;
	font-size: 28px;
	font-weight: 700;
}


/*********** Navbar ***********/
.navbar.fixed-top {
	padding: 19px 60px ;
	border-bottom: 2px solid #292F36;

}

.navbar-expand-lg .navbar-nav .nav-item.nav-link{
	padding-right: 5rem;
}

.navbar-light .navbar-toggler {
	border: none;
}

.navbar-nav a {
	color: #292F36;
}

.navbar-nav a:hover {
	color: grey;
}

.navbar-toggler-icon {
	background: url(../images/toggle-navbar.svg)
}

/*********** Footer ***********/
.footer-container {
	padding-top: 100px;
	border-top: 2px solid #292F36;
}
.footer-container .row {
	margin-bottom: 80px;
	width: 100%;
}

footer h5 {
	color: #919695;
	font-weight: 300;
	margin: 0;
}

footer img {
	margin: 0;
}
.row.footer-copyright {
	margin-bottom: 10px;
}

footer a {
color: #292F36;	
}

footer a:hover {
text-decoration: none;
color: #19CBCC;	
}

/*********** Containers ***********/
.header-container-home, 
.header-container-ebook {
	margin-top: 90px;
	padding: 90px 0;
}

.header-container-home {
	background-image: url(../images/header-shapes-right.svg);
	background-repeat: no-repeat;
	background-position: right bottom;	
}

.header-container-home h1,
.header-container-home h2,
.header-container-home p {
	margin-bottom: 35px;
}

.header-container-about {
	margin-top: 90px;
	padding: 90px 0;
}

.middle-container,
.myths-container,
.eva-container {
	margin-top: 45px;
	margin-bottom: 45px;
	padding-top: 45px;
	padding-bottom: 45px;
}

.bio-container {
	padding-top: 25px;
	padding-bottom: 25px;	
}

.middle-container h2{
	margin-bottom: 64px;
}
.middle-container h3,
.eva-container h3{
	margin-bottom: 20px;
}

.middle-container img {
	margin-bottom: 40px;
}

#tag-ebook {
	display: inline-block;
	border-radius: 3px;
	background-color: rgba(41, 47, 54, .9);
	line-height: 2;
	padding: 0 6px;
	color: #F7FFF7;
	letter-spacing: 2px;
	font-weight: 100;
}

/*Form*/
.form-container {
	margin-top: 45px;
	margin-bottom: 45px;
}

.form-group {
	font-family: 'Nunito'; 
}

.form-container .button-form {
	font-size: 20px;
}

.form-container .container {
	padding-top: 45px;
	padding-bottom: 45px;
	background-color: #fff;
	border: 3px solid #292F36;
	max-width: 800px;
}
.form-container h2 {
	margin-bottom: 60px;
}
.form-group .form-control {
 	border: 3px solid #292F36;
    
}

.button-effect {
	padding: 10px 40px;
	border: none;
	border-radius: 0px;
	box-shadow: 10px 10px 0 #292F36;
	-moz-box-shadow: 10px 10px 0 #292F36;
	-webkit-box-shadow: 10px 10px 0 #292F36;
	transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.button-blue {
	color: #292F36;
	background-color: #19CBCC;
	}
.button-blue:hover {
	color:#292F36;
}

.button-blue:active {
	box-shadow: 0px 0px 0 #292F36;
	-moz-box-shadow: 0px 0px 0 #292F36;
	-webkit-box-shadow: 0px 0px 0 #292F36;
}



/*********** Kit SocialMedia ***********/
.kit {

padding: 60px;
border: 3px solid #292F36;
}

.kit.white {
	background-color: #fff;
}

.kit.blue {
	background-color: #19CBCC;
}
.kit.yellow {
	background-color: #FFF47D;
}
.kit.darkblue{
	color: #F7FFF7;
	background-color: #292F36;
}
.kit.red{
	background-color: #FF6B6B;
}

.kit h4 {
	font-size: 20px;
	margin: 0;
}

/********** Myths *************/

.myths-container {
	background-image: url(../images/background-stars.svg);
	background-repeat: round;
}

.myths-container .row {
	margin-bottom: 20px;
}

.myths-container .myth-col {
	background-color: #F8FDE0;
	padding:29px 48px;
}

.myths-container h2, 
.eva-container h2 {
	margin-bottom: 35px;
}

/*********** Buttons ***********/
a.button-effect {
	padding: 10px 40px;
	border: none;
	box-shadow: 10px 10px 0 #292F36;
	-moz-box-shadow: 10px 10px 0 #292F36;
	-webkit-box-shadow: 10px 10px 0 #292F36;
	transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

a.button-blue {
	color: #292F36;
	background-color: #19CBCC;
	}
a.button-blue:hover {
	color:#292F36;
}

a.button-red {
	color: #292F36;
	background-color: #FF6B6B;
}
a.button-red:hover {
	color:#292F36;
}

a.button-blue:active, 
a.button-red:active {
	box-shadow: 0px 0px 0 #292F36;
	-moz-box-shadow: 0px 0px 0 #292F36;
	-webkit-box-shadow: 0px 0px 0 #292F36;
	}

/***********  ***********/
.foto-eva {
	max-width: 80%;
}

/******** Responsive ********/

	@media (max-width: 767.98px) {
	.proyect-container {
		margin-bottom: 80px;
	}
	.header-container-home {
		background-image: none;
	}
	.header-container-home,
	.header-container-ebook,
	.header-container-about {
		padding: 50px 0;
	}
	.middle-container {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.kit {
		border: none;
	}

	.header-container-ebook {
		text-align: center;
	}
	.eva-container {
		text-align: center;
	}
	.foto-eva {
		margin-bottom: 35px;
	}
	footer h5 {
		margin-bottom: 20px;
	}
	footer .row {
	margin-bottom: 5px;
	}
	.footer-container .row {
	margin-bottom: 40px;
	width: 100%;
	}
	.myths-container {
	background-image: url(../images/background-stars.svg);
	background-repeat: cover;
	background-repeat: repeat;
	}
}

	@media (max-width: 991.98px) {
	.header-container-home h1, 
	.header-container-about h1, 
	.header-container-ebook h1 {
		font-size: 35px;
	}

	.header-container-home h2, 
	.header-container-about h2,
	.myths-container h2, {
		font-size: 28px;
	}

	.ebook-col {
		margin-bottom: 35px;
	}

	.kit {
		padding: 40px;
	}
	.kit h4 {
		font-size: 17px;
	}
	.portada-ebook {
		max-width: 60%;
	}
}